<div class="card">
  <div class="card-content">
    {{#if eventsLoading}}
      <div class="center">
        {{ax-large-spinner}}
      </div>
    {{else}}
      {{#if isEmpty}}
        <i class="mdi-action-restore large"></i>
        <h6>No Data, Try Rewinding the Time</h6>
      {{else}}
        <ul class="collapsible conversation-ul" data-collapsible="accordion">
          {{#each issueComments key="@index" as |issueComment|}}
            <li>
              <div class="collapsible-header">
                <div class="row">
                  <div class="col s8"><a target="_blank" class="issue-title truncate" href="{{issueComment.html_url}}">{{issueComment.repo.full_name}}</a></div>
                  <div class="col s3 offset-s1">
                    {{moment-from-now issueComment.created_at}}
                  </div>
                </div>
                <div class="row commit-message">
                  <div class="col s8 truncate">{{issueComment.title}}</div>
                </div>
              </div>
              <div class="collapsible-body">
                <div class="row">
                <p>
                  <i class="material-icons mdi-communication-chat large-quote">"</i>{{issueComment.comment.body}}<span class="large-quote">"</span>
                </p>
                </div>
              </div>
            </li>
          {{/each}}
        </ul>
      {{/if}}
    {{/if}}
  </div>
  <div class="card-action">
    <span class="card-title black-text text-darken"><i class="material-icons mdi-communication-chat"></i> Recent Conversations</span>
  </div>
</div>
