<div class="card dashboard-card">
  <div class="card-image center chart">
    {{#if loadingData}}
      {{ax-large-spinner}}
    {{else}}
      {{#if isEmpty}}
          <i class="mdi-action-restore large"></i>
          <h6>No Data, Try Rewinding the Time</h6>
      {{else}}
        {{ember-chart type='Bar' data=barChartData
          options=chartOptions width=200 height=300 legend=true}}
      {{/if}}
    {{/if}}
  </div>
  <div class="card-action">
    <span class="card-title black-text text-darken">Top Languages Over {{pushEvents.length}} Pushes</span>
  </div>
</div>
