<div class="card dashboard-card">
  <div class="card-image center language-bar-chart">
    {{#if loadingData}}
      {{ax-large-spinner}}
    {{else}}
      {{#if isEmpty}}
          <i class="mdi-action-restore large"></i>
          <h6>No Data, Try Rewinding the Time</h6>
      {{else}}
        {{ember-chart type='Bar' data=barChartData
          options=chartOptions width=200 height=300 legend=true}}
      {{/if}}
    {{/if}}
  </div>
  <div class="card-action language-card-title orange">
    <span class="card-title white-text"><i class="material-icons">code</i> Top Languages Over {{pushEvents.length}} Pushes</span>
    <p class="white-text">Here are the languages {{user.name}} has recently pushed code in.</a></p>
  </div>
</div>
