<div class="card blue-grey darken-1">
  <div class="card-image">
    <img src="{{user.avatar_url}}"/>
  </div>
  <div class="card-content white-text">
    <h5>{{user.name}}</h5>
    <p><a href="{{user.blog}}" target="_blank">{{user.blog}}</a></p>
    <p>{{user.company}}</p>
  </div>
  <div class="card-action">
    <i class="material-icons">supervisor_account</i>
    <a href="{{user.followers_html}}">{{user.followers}}</a>
  </div>
</div>