<div class="card">
  <div class="card-image waves-block waves-light valign-wrapper">
    <div class="row center chart valign">
      {{#if loading}}
          {{ax-large-spinner}}
      {{else}}
        {{#if isEmpty}}
          <i class="mdi-action-restore large"></i>
          <h6>No Data, Try Rewinding the Time</h6>
        {{else}}
          {{ember-chart type='Doughnut' data=doughnutChartData
          options=chartOptions width=200 height=300 legend=true}}
        {{/if}}
      {{/if}}
    </div>
    <div class="divider"></div>
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">Pull Requests<i class="material-icons right">more_vert</i></span>
    <p>Contributed {{pullRequests.length}} pull-requests amounting to {{totalChanges}} changes in code.</p>
  </div>
  <div class="card-reveal">
    {{#if loading}}
      {{ax-large-spinner}}
    {{/if}}
    <span class="card-title grey-text text-darken-4">Details<i class="material-icons right">close</i></span>
    {{#md-table content=pullRequests class="bordered" as |row|}}
      {{#md-table-col row=row key="title" header="Pull-Request Title"}}
        <a target="_blank" href="{{row.html_url}}">{{row.title}}</a>
      {{/md-table-col}}
    {{/md-table}}
  </div>
</div>
