<div class="card blue-grey darken-1">
  <div class="card-image">
    <img src="{{user.avatar_url}}"/>
  </div>
  <div class="card-content white-text">
    <h5>{{user.name}}</h5>
    <p><a href="{{user.blog}}" target="_blank">{{user.blog}}</a></p>
    <p>{{user.company}}</p>
  </div>
  <div class="card-action">
    <i class="material-icons">supervisor_account</i>
    <a href="{{user.followers_html}}" class="tooltipped" data-position="top" data-tooltip="{{user.followers}} Followers">{{user.followers}}</a>
    <i class="material-icons mdi-action-book tooltipped" data-position="top" data-tooltip="{{user.public_repos}} Public Repositories"></i>{{user.public_repos}}
    {{#if user.hireable}}
      <i class="material-icons mdi-action-work for-hire tooltipped" data-position="top" data-tooltip="Available for Hire"></i>
    {{else}}
      <i class="material-icons mdi-action-work tooltipped" data-position="top" data-tooltip="Not Available for Hire"></i>
    {{/if}}
  </div>
</div>