<div class="card dashboard-card-tall">
  <div class="card-image waves-block waves-light">
    <div class="row center time-chart">
      {{#if loadingData}}
        {{ax-large-spinner}}
      {{else}}
        {{#if isEmpty}}
          <i class="mdi-action-restore large"></i>
          <h6>No Data, Try Rewinding the Time</h6>
        {{else}}
          {{ember-chart type='Line' data=timeChartData
          options=chartOptions width=400 height=350 legend=true}}
        {{/if}}
      {{/if}}
    </div>
    <div class="divider"></div>
  </div>
  <div class="card-content color-content-primary">
    <span class="white-text card-title activator commit-title"><i class="material-icons">timeline</i> Commit Activity<i class="material-icons right">more_vert</i></span>
    {{#each ranges key="@index" as |range|}}
      {{#if range.active}}
        <p class="white-text">{{range.name}}, {{user.name}} contributed {{commits.length}} commits over {{pushEvents.length}} pushes amounting to {{totalLinesCode}} lines of code changed.</p>
      {{/if}}
    {{/each}}
  </div>
  <div class="card-reveal commit-reveal">
    <span class="card-title white-text">Recent Commits<i class="material-icons right">close</i></span>
    {{#if loadingData}}
      <div class="center">
        {{ax-large-spinner}}
      </div>
    {{else}}
      <ul class="collapsible commits-ul" data-collapsible="accordion">
        {{#each commits key="@index" as |commit|}}
          <li>
            <div class="collapsible-header"><i class="material-icons mdi-content-create"></i>
              <div class="row">
                <div class="col s8"><a target="_blank" href="{{commit.html_url}}">{{commit.repo.full_name}} - {{moment-from-now commit.created_at}}</a></div>
                <div class="col s1 additions">+{{commit.stats.additions}}</div>
                <div class="col s1 deletions">-{{commit.stats.deletions}}</div>
              </div>
              <div class="row commit-message">
                <div class="col s8 truncate">{{commit.commit.message}}</div>
              </div>
            </div>
            <div class="collapsible-body">
              <div class="row">
              <p>
                {{commit.commit.message}}
              </p>
              </div>
              <div class="row">
                <div class="col s12 chip-container">
                  <div class="chip">{{commit.files.length}} Files</div>
                  {{#each commit.languages key="@index" as |language|}}
                    <div class="chip">
                      {{language}}
                    </div>
                  {{/each}}
                </div>
              </div>
            </div>
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
</div>
