<div class="card">
  <div class="card-image waves-effect waves-block waves-light min-height:300px">
    <div class="row center chart">
      {{#if loadingData}}
        {{ax-large-spinner}}
      {{else}}
        {{ember-chart type='Line' data=timeChartData
        options=chartOptions width=400 height=300 legend=true}}
      {{/if}}
    </div>
    <div class="divider"></div>
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">Commits Over Time<i class="material-icons right">more_vert</i></span>
    {{#each ranges key="@index" as |range|}}
      {{#if range.active}}
        <p>{{range.name}}, {{user.name}} contributed {{commits.length}} commits over {{pushEvents.length}} pushes amounting to {{totalLinesCode}} lines of code.</p>
      {{/if}}
    {{/each}}
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Details<i class="material-icons right">close</i></span>
    {{#if loadingData}}
      <div class="center">
        {{ax-large-spinner}}
      </div>
    {{else}}
      <ul class="collapsible" data-collapsible="accordion">
        {{#each commits key="@index" as |commit|}}
          <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>
              <div class="row">
                <div class="col s8"><b><a target="_blank" href="{{commit.html_url}}">{{commit.repo.full_name}} - {{moment-from-now commit.created_at}}</a></b></div>
                <div class="col s1 additions">+{{commit.stats.additions}}</div>
                <div class="col s1 push-s8 deletions">-{{commit.stats.deletions}}</div>
              </div>
              <div class="row commit-message">
                <div class="col s8 truncate">{{commit.commit.message}}</div>
              </div>
            </div>
            <div class="collapsible-body">
              <div class="row">
              <p>
                {{commit.commit.message}}
              </p>
              </div>
              <div class="row">
                <div class="col s2">
                  <div class="number-circle block">{{commit.files.length}}</div>
                  <div class="block">Files</div>
                </div>
                {{#each commit.languages key="@index" as |language|}}
                  <div class="chip">
                    {{language}}
                  </div>
                {{/each}}
              </div>
            </div>
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
</div>
