<div class="dashboard-wrapper">
  <div class="row">
    <div class="col s12 m10 dashboard">
      <div class="row nav-row">
        <div class="col s12">
          <nav>
            <div class="nav-wrapper dashboard-navbar">
              <span class="mdi-action-trending-up ghtrack-logo">{{gittrackUrl}}</span>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                  <a target="_blank" href="http://github.com/sedouard/gittrack">Fork Me on Github<i class="material-icons left">call_split</i></a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
      {{#if optIn}}
        <div class="row col s12 m10 range-selector-small">
          {{ax-select content=ranges valuePath="daysBack" displayPath="name" name="range-selector-small" action="changeTimeView" target=this value=selectMenuDays }}
        </div>
        <div class="row">
          <div class="col s12 m4 range-selector-small">
            {{ax-profile-card user=user}}
          </div>
          <div class="col s12 m4">
            {{ax-commit-pie-chart commits=commits user=user loading=commitsLoading}}
          </div>
          <div class="col s12 m8">
            {{ax-dummy events=events loading=eventsLoading}}
            {{ax-time-chart-card pushEvents=pushEvents commits=commits events=events ranges=ranges user=user loading=commitsLoading width=width}}
          </div>
        </div>
        <div class="medium-charts">
          <div class="row">
            <div class="col s12 m6">
              {{ax-language-bar-chart events=events loading=eventsLoading user=user caption=(concat "Here are the languages " user.name " has recently pushed code in.") tooltip=(concat "Indicates what programming language " user.name " might be best at")}}
            </div>
            <div class="col s12 m6">
              {{ax-pull-request-card events=events loading=eventsLoading}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m6">
            {{ax-conversations-card events=events loading=eventsLoading store=store user=user}}
          </div>
          <div class="col s12 m6">
            <div class="row">
              <div class="col s12 l6 m12">
                {{ax-works-with events=events loading=eventsLoading store=store user=user caption="Recently Worked With"}}
              </div>
              <div class="col s12 l6 m12">
                {{ax-repo-interact store=store events=events}}
              </div>
            </div>
            <div class="row">
              <div class="col s12 l6 m12">
                {{ax-commits-pushed commits=commits store=store}}
              </div>
              <div class="col s12 l6 m12">
                {{ax-events-analyzed events=events store=store}}
              </div>
            </div>
          </div>
        </div>
      {{else}}
        <div class="center">
          {{ax-large-spinner}}
        </div>
      {{/if}}
    </div>
    <div class="col s12 m2 hide-on-small-only fixed-sidebar range-selector">
      {{ax-profile-card user=user}}
      <ul class="table-of-contents">
        {{#each rangeData key="@index" as |range|}}
          <li><a class="{{if range.active 'active-range'}}" {{action "changeTimeView" range.daysBack}}>{{range.name}}</a></li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
{{ax-footer user=user}}