<div class="container">

  <div class="row">
    <div class="col s12 m10 dashboard">
      {{ax-navbar user=user}}
      {{#if optIn}}
        <div class="row">
          <div class="col s12 m4">
            {{ax-profile-card user=user}}
          </div>
          <div class="col s12 m8">
            {{ax-dummy events=events loading=eventsLoading}}
            {{ax-time-chart-card events=events ranges=ranges user=user loading=eventsLoading width=width}}
          </div>
        </div>
        <div class="row">
          <div class="col s12 m5">
            {{ax-pull-request-card events=events loading=eventsLoading}}
          </div>
          <div class="col s12 m5">
            {{ax-language-bar-chart events=events loading=eventsLoading}}
          </div>
        </div>
        <div class="row">
          <div class="col s12 m5">
            {{ax-works-with events=events loading=eventsLoading store=store user=user}}
          </div>
          <div class="col s12 m7">
            {{ax-conversations-card events=events loading=eventsLoading store=store user=user}}
          </div>
        </div>
      {{/if}}
    </div>
    <div class="col s12 m2 hide-on-small-only fixed range-selector">
      <ul class="table-of-contents">
        {{#each rangeData key="@index" as |range|}}
          <li><a class="{{if range.active 'active-range'}}" {{action "changeTimeView" range.daysBack}}>{{range.name}}</a></li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
{{ax-footer}}