<div class="container">

  <div class="row">
    <div class="col s12 m10 dashboard">
      {{ax-navbar user=user}}
      {{#if optIn}}
        <div class="row col s12 m10 range-selector-small">
          {{md-select action="changeTimeView" content=ranges optionLabelPath="content.name" optionValuePath="content.daysBack" value=selectMenuDays }}
        </div>
        <div class="row">
          <div class="col s12 m4 dashboard-card">
            {{ax-profile-card user=user}}
          </div>
          <div class="col s12 m8 dashboard-card">
            {{ax-dummy events=events loading=eventsLoading}}
            {{ax-time-chart-card pushEvents=pushEvents commits=commits events=events ranges=ranges user=user loading=commitsLoading width=width}}
          </div>
          <div class="col s12 m5 dashboard-card">
            {{ax-commit-pie-chart commits=commits user=user loading=commitsLoading}}
          </div>
          <div class="col s12 m5 dashboard-card">
            {{ax-language-bar-chart events=events loading=eventsLoading}}
          </div>
          <div class="col s12 m5 dashboard-card">
            {{ax-pull-request-card events=events loading=eventsLoading}}
          </div>
          <div class="col s12 m7 dashboard-card">
            {{ax-conversations-card events=events loading=eventsLoading store=store user=user}}
          </div>
          <div class="col s12 m5 dashboard-card">
            {{ax-works-with events=events loading=eventsLoading store=store user=user}}
          </div>
        </div>
      {{else}}
        <div class="center">
          {{ax-large-spinner}}
        </div>
      {{/if}}
    </div>
    <div class="col s12 m2 hide-on-small-only fixed range-selector">
      <ul class="table-of-contents">
        {{#each rangeData key="@index" as |range|}}
          <li><a class="{{if range.active 'active-range'}}" {{action "changeTimeView" range.daysBack}}>{{range.name}}</a></li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
{{ax-footer}}